.card {
    padding:20px;
    border-radius:10px;
    color:white;
    text-align:center;
    font-size:20px;
}
.blue {background:#2F80ED;}
.green {background:#27AE60;}
.orange {background:#F2C94C;}
.cyan {background:#56CCF2;}
